@{
    ViewData["Title"] = "Casa";
}
<h2>@ViewBag.unaCasa.Nombre_casa</h2>
<h5>@ViewBag.unaCasa.Direccion_casa</h5>
<h5>@ViewBag.unaCasa.Precio</h5>
<h5>@ViewBag.unaCasa.Pileta</h5>
<h5>@ViewBag.unaCasa.Parrilla</h5>
<h5>@ViewBag.unaCasa.Cantidad_ambientes</h5>
<h5>@ViewBag.unaCasa.Balcon</h5>
<img src = '@ViewBag.unaCasa.FotoCasa'>

