@{
    ViewData["Title"] = "Index";
}
<h1>@ViewBag.Error</h1>





<div class="card-container ">
    @foreach (Casa casa in ViewBag.Casas)
    {
        <div class="card casa-card">
            <img src='@casa.FotoCasa' class="card-img-top" alt="@casa.Nombre_casa">
            <div class="card-body text-center">
                <h2 class="card-title">@casa.Nombre_casa</h2>
                <h4 class="card-subtitle mb-2 text-muted">@casa.Direccion_casa</h4>
                <h4 class="card-subtitle mb-2 text-muted">Precio: @casa.Precio</h4>
                <a href='@Url.Action("Casa", new { IdCasa = @casa.IDCasa })' class="btn btn-primary btn-alquilar">Alquilar</a>
            </div>
        </div>
    }
</div>
