@{
    ViewData["Title"] = "Perfil";
}
<img src = "@ViewBag.Foto"/>
<h1>@ViewBag.NombreU</h1>
<h4>Comprador</h4>

<h2>Acerca de @ViewBag.NombreU</h2>
<a class="btn btn-EditarPerfil" href='@Url.Action("EditarPerfil", "Home")'>Editar perfil</a>
<img src = "/Imagenes/Email.PNG" />
<h6>Email  @ViewBag.Email</h6>

<img src = "/Imagenes/Telefono.png" />
<h6>N. de Telefono  @ViewBag.Telefono</h6>